* {
    padding: 0;
    margin: 0;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background: url(../images/bg.jpg) no-repeat;
    background-size: cover;
}

/* 修改默认样式 */
h4,
h3,
ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

/* 布局˙整体 .viewport */

.viewport {
    min-width: 1024px;
    max-width: 1920px;
    min-height: 10rem;
    margin: 0 auto;
    padding: 0.875rem 0.25rem 0;
    background: url(../images/logo.png) no-repeat;
    background-size: contain;
    display: flex;
}

.viewport>.column {
    flex: 3;
    /* background-color: rgb(241, 210, 210); */
}

.viewport>.column:nth-of-type(2) {
    flex: 4;
    /* background-color: rgb(184, 217, 247); */
    margin: 0.375rem 0.1875rem 0;
}

/* 公共样式  图片边框 */
.panel {
    border: 1px solid transparent;
    border-image-source: url(../images/border.png);
    border-width: 0.6375rem 0.475rem 0.25rem 1.65rem;
    border-image-slice: 51 38 20 132;
    margin-bottom: 0.25rem;
    position: relative;
}

.inner {
    position: absolute;
    top: -0.6375rem;
    right: -0.475rem;
    bottom: -0.25rem;
    left: -1.65rem;
    padding: 0.225rem 0.325rem;
}

.panel h3 {
    font-size: 0.225rem;
    color: #fff;
    font-weight: 400;
}

/* 概览模块 */
.overview {
    height: 1.25rem;
    box-sizing: border-box;
}

.overview ul {
    display: flex;
    justify-content: space-between;
}

.overview h4 {
    font-size: 0.3rem;
    color: white;
    margin: 0 0 0.06rem 0;
}

.overview ul li {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.overview ul li span {
    font-size: 0.15rem;
    color: #4c9bfd;
}

/* 全部样式的小竖点 */
.line {
    display: inline-block;
    width: 0.05rem;
    height: 10px;
    border-radius: 5px;
    margin-right: 0.025rem;
}

/* 监控部分 */
.monitoring {
    height: 4rem;
}

.monitoring>.inner {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    /* background-color: rgb(245, 183, 183, 0.6); */
}

/* 监控导航部分 */
.monitoring .tabs {
    font-size: 0.225rem;
    /* background-color: rgb(224, 144, 144); */
    height: 0.375rem;
    display: flex;
    align-items: center;
}

.tabs a {
    color: #1950c4;
}

.tabs .active {
    color: white;
}

/* 两个a标签中间的 竖线 */
.tabs>.line {
    display: inline-block;
    width: 3px;
    height: 30px;
    background-color: #6feeef;
    margin: 0 0.25rem;
    border-radius: 0;
}

.content {
    /* background-color: rgb(221, 185, 185); */
    margin-top: 0.125rem;
    box-sizing: border-box;
    flex: 1;
    overflow: hidden;

    display: flex;
    flex-direction: column;
}

.monitoring .content>.top {
    height: 0.4375rem;
    color: #68d8fe;
    line-height: 0.4375rem;
    background-color: rgba(255, 255, 255, 0.1);
    font-size: 0.15rem;
}

.content .row {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.15rem;
    line-height: 0.435rem;
    color: #61a8ff;
}

.content .col:nth-of-type(1) {
    width: 1rem;
}

.content .col:nth-of-type(2) {
    width: 2.5rem;
    /* background-color: red; */
}

.content .col:nth-of-type(3) {
    width: 1rem;
}

/* 滚动动画 */
.message {
    flex: 1;
    overflow: hidden;
}

.message>.messageScrool {
    animation: rollPlay linear 10s infinite;
}

@keyframes rollPlay {
    0% {}

    100% {
        transform: translateY(-40%);
    }
}

/* 点位分布部分 */
.point {
    height: 2.6rem;
}

/* 点位分布下面整体 */
.point .chart {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(250, 212, 212); */
    margin-top: 0.125rem;
}

.point .pie {
    width: 3.9rem;
    height: 2.4rem;
    /* background-color: rgb(243, 195, 195); */
}

.point .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.1rem;
    padding: 0.45rem 0.3rem;
    box-sizing: border-box;
    background-image: url(../images/rect.png);
    background-size: cover;
}

.point h4 {
    font-size: 0.25rem;
    color: #fff;
}

.point span {
    display: block;
    color: #f8ab05;
    font-size: 0.175rem;
}

/*点位总数和本月新增左侧的点 同意使用line类名 在上面概览模块已经设置过了  只用在内部写bagcground-color颜色即可*/

/* 地图  */

.map {
    height: 6rem;
    margin-bottom: 0.25rem;
    display: flex;
    flex-direction: column;
}

.map h3 {
    line-height: 1;
    padding: 0.2rem 0;
    margin: 0;
    font-size: 0.2rem;
    color: #fff;
    font-weight: 400;
    display: flex;
    align-items: center;
}

.map .iconCube {
    display: inline-block;
    width: 0.25rem;
    height: 0.25rem;
    margin-right: 0.0625rem;
    background-color: #fff;
    background: url(../images/shebei.png) no-repeat;
    background-size: contain;
}

.map .chart {
    flex: 1;
    background-color: rgba(255, 255, 255, 0.05);
}

.map .geo {
    width: 100%;
    height: 100%;
}

/* 用户模块 */
.users {
    height: 2.6rem;
    display: flex;
}

.users .chart {
    display: flex;
    margin-top: 0.125rem;
}

.users .bar {
    width: 7.35rem;
    height: 2.4rem;
    /* background-color: rgb(211, 133, 133); */
}

.users .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 2.1rem;
    padding: 0.45rem 0.3rem;
    box-sizing: border-box;
    background-image: url(../images/rect.png);
    background-size: cover;
}

.users h4 {
    /* margin-bottom: 0.15rem; */
    font-size: 0.25rem;
    color: #fff;
}

.users span {
    display: block;
    color: #4cfde2;
    font-size: 0.175rem;
}

/* 订单 */
.order {
    height: 0.7rem;
}

.order .filter {
    display: flex;
}

.order .filter a {
    display: block;
    height: 0.225rem;
    line-height: 1;
    padding: 0 0.225rem;
    color: #1950c4;
    font-size: 0.2rem;
    border-right: 0.025rem solid #00f2f1;
}

.order .filter a:first-child {
    padding-left: 0;
}

.order .filter a:last-child {
    border-right: none;
}

.order .filter a.active {
    color: #fff;
    font-size: 0.225rem;
}

.order .data {
    display: flex;
    margin-top: 0.125rem;
}

.order .item {
    width: 50%;
}

.order h4 {
    font-size: 22px;
    color: #fff;
    margin-bottom: 0.0625rem;
}

.order span {
    display: block;
    color: #4c9bfd;
    font-size: 0.175rem;
}

.orderDataHidden {
    display: none !important;
}

/* 销售区域 */
.sales {
    height: 1.8rem;
}

.sales .caption {
    display: flex;
    line-height: 1;
}

.sales h3 {
    height: 0.225rem;
    padding-right: 0.225rem;
    border-right: 0.025rem solid #00f2f1;
}

.sales a {
    padding: 0.05rem;
    font-size: 0.175rem;
    margin: -0.0375rem 0 0 0.2625rem;
    border-radius: 0.0375rem;
    color: #0bace6;
}

.sales a.active {
    background-color: #4c9bfd;
    color: #fff;
}

.sales .inner {
    display: flex;
    flex-direction: column;
}

.sales .chart {
    /* background-color: pink; */
    flex: 1;
    padding-top: 0.125rem;
    position: relative;
}

.sales .label {
    position: absolute;
    left: 0.525rem;
    top: 0.225rem;
    color: #4996f5;
    font-size: 0.175rem;
}

.sales .sline {
    width: 100%;
    height: 90%;
    /* background-color: rgb(240, 172, 172); */
}

/* 渠道 季度区块 */
.wrap {
    display: flex;
}

.channel {
    flex: 5;
    height: 1.7rem;
}

.quarter {
    flex: 1;
    height: 1.7rem;
}

.channel {
    margin-right: 0.15rem;
}

.channel .data {
    overflow: hidden;
}

.channel .data .radar {
    height: 1.8rem;
    width: 100%;
    /* background-color: pink; */
}

.channel h4 {
    color: #fff;
    font-size: 0.4rem;
    margin-bottom: 0.0625rem;
}

.channel small {
    font-size: 50%;
}

.channel span {
    display: block;
    color: #4c9bfd;
    font-size: 0.175rem;
}

/* 季度区块 */
.quarter .inner {
    display: flex;
    flex-direction: column;
    margin: 0 -0.075rem;
}

.quarter .chart {
    flex: 1;
    /* padding-top: 0.225rem; */
}

.quarter .box {
    position: relative;
}

.quarter .label {
    transform: translate(-50%, -30%);
    color: #fff;
    font-size: 0.375rem;
    position: absolute;
    left: 50%;
    top: 50%;
}

.quarter .label small {
    font-size: 50%;
}

.quarter .gauge {
    height: 1.05rem;
}

.quarter .data {
    display: flex;
    justify-content: space-between;
}

.quarter .item {
    width: 50%;
}

.quarter h4 {
    color: #fff;
    font-size: 0.3rem;
    margin-bottom: 0.1rem;
}

.quarter span {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    color: #4cfde2;
    font-size: 0.175rem;
}

/* 进度模块 */

.plan {
    height: 1.7rem;
}

/* 点位分布下面整体 */
.plan .chart {
    display: flex;
    justify-content: space-between;
    /* background-color: rgb(250, 212, 212); */
    margin-top: 0;
}

.plan .water {
    width: 3.9rem;
    height: 1.8rem;
    /* background-color: rgb(92, 6, 6, 0.5); */
    margin-right: 0.125rem;
}

.plan .data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 1.9rem;
    padding: 0.2rem 0.3rem;
    box-sizing: border-box;
    background-image: url(../images/rect.png);
    background-size: cover;
}

.plan h4 {
    font-size: 0.25rem;
    color: #fff;
}

.plan span {
    display: block;
    color: #f8ab05;
    font-size: 0.175rem;
}